<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Template single page</title>
    <!-- <link rel="stylesheet" href="./css/style.css"> -->
</head>

<body>
    <h1>Enter your text in below</h1>
    <form action="/analyzer" method="get">
        <textarea name="textarea" id="textarea" style="width: 325px; height: 80px;"></textarea>
        <br>
        <input type="checkbox" name="removepunc">Remove Punctuations<br>
        <input type="checkbox" name="uppercase">Uppercase<br>
        <input type="checkbox" name="newlineremover">newlineremover<br>
        <input type="checkbox" name="extraspaceremover">extraspaceremover<br>
        <input type="checkbox" name="charcount">charcount<br>
        <button name="submit">Submit</button>
    </form>
</body>

</html>